* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    width: 100%;
    background-color: #fff;
}

body h1 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: #6e0e10;
}

body hr {
    width: 75%;
    margin: auto;
    border: 0.5px solid #e6c200;
    margin-bottom: 3rem;
}

.content {
    width: 80%;
    margin: auto;
}

/* Botão Cadastrar e Editar usuario */
.grid_1 button {
    width: 15%;
    height: 3rem;
    margin: auto;
    background-color: #FFD700;
    color: #222;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.grid_1 button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    transform: skewX(-20deg);
    transition: 0.5s;
}

.grid_1 button:hover::before {
    left: 100%;
}

.grid_1 button:hover {
    background-color: #e6c200;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.grid_1 button:active {
    transform: translateY(1px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}


.grid_1 {
    width: 100%;
    height: 7rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.grid_1 input {

    width: 30%;
    height: 2rem;
    margin-bottom: 3rem;
    font-size: 1.1rem;
    border: none;
    border-bottom: solid 1px #6E0E10;
    background-color: transparent;
}

/*Tirando o contorno do meu input */
input:focus {
    outline: none;
}

.descricao {
    width: 100%;
    height: 5rem;
    border: solid 1px #6E0E10;
    padding: 0.5rem;
}

.form h2 {
    
    text-align: center;
    font-weight: 500;
    margin-top: 3rem;
}

.coluna {
    width: 16%;
    height: 2rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem ;
}

.coluna2 {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


