<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Componente FOOTER</title>

    <!-- Estilos -->
    <link rel="stylesheet" href="/assets/css/footer.css">
</head>
<body>
    
    <footer>
        <p class="bold">Copyright 2015-2018 © Todos os direitos reservados.</p>
        <p>O conteúdo do site projetoinicial.com.br não pode ser editado</p>
    </footer>
</body>
</html>